<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/estilosNoticias.css">
        <link rel="shortcut icon" type="image/x-icon" href="imagenes/iconotools.png"/> 
        <title><%- titulo %></title>
        <%- include('partials/head') %>
    </head>
    <body>
        <header>
            <div class="container-fluid py-3">
                <!-- Sección uno: encabezado -->
                <%- include('partials/encabezado') %>

                <!-- Sección dos: menú de navegación -->
                <%- include('partials/navegacion') %>                                                                
            </div> 
        </header>        
        <main>
            <!-- Sección tres: información de las noticias -->
            <%- include('partials/t_noticias') %>

            <%- include('partials/p_noticias') %>        
        </main>
        <footer>
            <!-- Sección cuatro: información general - información de contacto del negocio -->
            <%- include('partials/piepagina') %>        

            <!-- Sección cinco: lista de archivos y enlaces a utilizar por el sitio web -->
            <%- include('partials/footer') %>
        </footer>                    
    </body>
</html>
